.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /*background: rgba(245, 238, 225, 0.8);*/
    background: cornsilk;
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.calendar-title {
    display: flex;
    justify-content: space-between;
}

.calendar-title-1 {
    margin-left: 5%;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.calendar-title-2 {
    margin-right: 5%;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.calendar {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 1.5rem;
}

.calendar-header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.calendar-header div {
    width: 33px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.calendar-header::after {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: #ddd; /* 회색 가로줄 색상 */
}

.calendar-week {
    display: flex;
    justify-content: center;
}

.calendar-day {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
}

.weekend {
    color: rgba(255, 0, 0, 0.7);
}

.highlight {
    background-color: pink;
    color: white;
    border: 1px solid pink;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.highlight::before {
    position: absolute;
    font-size: 20px;
    color: pink;
    top: -12px;
    left: -12px;
}
