/* MyCalendar.css */
.react-calendar {
    border-radius: 30px;
    border: 1px solid white;
}

.calendar-container {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-header {
    border-radius: 10px;
    background-color: #fae5e5;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
